# import necessary python libraries to perform my tasks

In [28]:
import pandas as pd
import numpy as np
from scipy.stats import skew, kurtosis

# Read the dataset using pandas

In [29]:

data = pd.read_csv('dataset.csv', 
                 parse_dates=['Timestamp'], 
                 encoding='ISO-8859-1') 
print(data.info())
print(data.describe())

/var/folders/8d/kl24b_0s3gx0jhkqll61_jmm0000gn/T/ipykernel_35181/2796765360.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('dataset.csv',
/var/folders/8d/kl24b_0s3gx0jhkqll61_jmm0000gn/T/ipykernel_35181/2796765360.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data = pd.read_csv('dataset.csv',

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525601 entries, 0 to 525600
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525601 non-null  object
 1   GHI            525601 non-null  object
 2   DNI            525601 non-null  object
 3   DHI            525601 non-null  object
 4   ModA           525601 non-null  object
 5   ModB           525601 non-null  object
 6   Tamb           525601 non-null  object
 7   RH             525601 non-null  object
 8   WS             525601 non-null  object
 9   WSgust         525601 non-null  object
 10  WSstdev        525601 non-null  object
 11  WD             525601 non-null  object
 12  WDstdev        525601 non-null  object
 13  BP             525601 non-null  object
 14  Cleaning       525601 non-null  object
 15  Precipitation  525601 non-null  object
 16  TModA          525601 non-null  object
 17  TModB          525601 non-null  object
 18  Comments       0 non-null       float64
dtypes: float64(1), object(18)
memory usage: 76.2+ MB
None
       Comments
count       0.0
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

# Calculate additional metrics (mean, median, variance, skewness) for key columns:

In [30]:
data.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,yyyy-mm-dd hh:mm,W/m²,W/m²,W/m²,W/m²,W/m²,°C,%,m/s,m/s,m/s,°N (to east),°,hPa,1 or 0,mm/min,°C,°C,NaN
1,2022-08-09 00:01,-5.6,-0.1,-5.7,0,0,23.1,98.3,0.9,1.3,0.5,115.3,4.8,996,0,0,23.5,22.9,NaN
2,2022-08-09 00:02,-5.5,-0.1,-5.6,0,0,23.1,98.3,0.9,1.1,0.4,117.8,5.5,996,0,0,23.5,22.9,NaN
3,2022-08-09 00:03,-5.5,-0.1,-5.6,0,0,23.2,98.4,0.1,1.1,0.3,105.4,0.9,996,0,0,23.5,22.9,NaN
4,2022-08-09 00:04,-5.5,-0.1,-5.6,0,0,23.2,98.4,0.1,1.1,0.4,103.7,2.2,996,0,0,23.5,22.9,NaN

drop the first row because not numerical values

In [33]:
df = data.iloc[1:]
df.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
1,2022-08-09 00:01,-5.6,-0.1,-5.7,0,0,23.1,98.3,0.9,1.3,0.5,115.3,4.8,996,0,0,23.5,22.9,NaN
2,2022-08-09 00:02,-5.5,-0.1,-5.6,0,0,23.1,98.3,0.9,1.1,0.4,117.8,5.5,996,0,0,23.5,22.9,NaN
3,2022-08-09 00:03,-5.5,-0.1,-5.6,0,0,23.2,98.4,0.1,1.1,0.3,105.4,0.9,996,0,0,23.5,22.9,NaN
4,2022-08-09 00:04,-5.5,-0.1,-5.6,0,0,23.2,98.4,0.1,1.1,0.4,103.7,2.2,996,0,0,23.5,22.9,NaN
5,2022-08-09 00:05,-5.5,-0.1,-5.7,0,0,23.2,98.4,0.5,1.6,0.6,94.1,4.8,996,0,0,23.6,22.9,NaN

In [34]:
# Convert numeric columns to proper data types if needed
numeric_columns = df.columns[1:]  # Exclude Timestamp
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Calculate summary statistics
summary_stats = df.describe()

# Display summary statistics
print(summary_stats)

/var/folders/8d/kl24b_0s3gx0jhkqll61_jmm0000gn/T/ipykernel_35181/1994286074.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

                 GHI            DNI            DHI           ModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      239.536629     170.156976     113.340359     236.835735
std       331.563997     266.644811     156.440760     327.718231
min       -16.400000      -6.300000     -16.100000       0.000000
25%        -2.700000      -0.500000      -2.600000       0.000000
50%         0.900000      -0.100000       0.900000       4.200000
75%       480.600000     324.400000     214.700000     462.000000
max      1454.000000     994.000000     806.000000    1399.000000

                ModB           Tamb             RH             WS  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      229.144105      27.875447      58.111671       2.107215
std       317.067317       6.209307      26.403998       1.640729
min         0.000000      10.000000       4.200000       0.000000
25%         0.000000      23.700000      36.000000       0.900000
50%         4.000000      27.900000      59.600000       1.900000
75%       447.000000      32.400000      81.500000       3.100000
max      1395.000000      44.200000     100.000000      18.500000

              WSgust        WSstdev             WD        WDstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean        2.798476       0.474404     154.845004       8.395536
std         2.095030       0.285328     101.462147       6.517290
min         0.000000       0.000000       0.000000       0.000000
25%         1.300000       0.400000      64.000000       2.600000
50%         2.400000       0.500000     183.800000       8.600000
75%         4.100000       0.600000     233.400000      12.500000
max        23.400000       4.500000     360.000000      93.200000

                  BP       Cleaning  Precipitation          TModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      994.671290       0.001029       0.001815      34.949430
std         2.471918       0.032066       0.038223      15.033884
min       985.000000       0.000000       0.000000       7.700000
25%       993.000000       0.000000       0.000000      23.800000
50%       995.000000       0.000000       0.000000      30.200000
75%       996.000000       0.000000       0.000000      47.000000
max      1002.000000       1.000000       3.500000      82.200000

               TModB  Comments
count  525600.000000       0.0
mean       31.881811       NaN
std        12.357227       NaN
min         6.700000       NaN
25%        22.900000       NaN
50%        29.100000       NaN
75%        41.400000       NaN
max        72.900000       NaN